body {
  font-family: Arial;
  max-width: 500px;
  margin: auto;
  padding: 10px;
}
a {
  display: block;
  margin: 20px;
  font-size: 20px;
}
a.day {
  margin: 5px 0;
  padding: 12px;
  background: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

input, button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin: 5px 0;
}

/* スマホ用 */
@media (max-width: 600px) {
  body {
    padding: 5px;
  }

  h1 {
    font-size: 20px;
  }
}